	html, body {
  overflow-x: hidden; /* Hide both vertical and horizontal scrollbars */
	margin: 0px;
			 padding: 0px;
		height: 100vh;
		scrollbar-width: none;
}
	.pd-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    border-radius: 8px;
    padding: 16px 16px;
    display: inline-grid;
    align-items: self-start;
	}
	.pd-1 .pd-2 .pd-3{
	width: fit-content;
	}
	.img-container{
	width: 100%;
    height: fit-content;
	}
	img {
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
	}
	video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
	}
	.header-title{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: clamp(24px, 3vw, 36px);
	}
	.header-description{
	font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(14px, 1.3vw, 18px) !important;
    line-height: 1.3em;
	}

	@media (min-width: 576px) and (max-width: 820px) {
		.pd-container{
	    grid-template-columns: repeat(1, 1fr);
	    gap: 1vw;
	    border-radius: 8px;
	    padding: 16px 16px;
	    display: inline-grid;
	    align-items: self-start;
		}
		img {
	    width: 100%;
	    height: 75%;
	    object-fit: cover;
	    border-radius: 16px;
		}
		video {
	    width: stretch;
	    height: 400px;
	    object-fit: cover;
	    border-radius: 16px;
		}
}

  @media screen and (max-width: 575px) {
		.pd-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 1vw;
    border-radius: 8px;
    display: inline-grid;
    padding: 0;
    margin: 0;
	height: fit-content;
    width: 100%;
    justify-items: left;
    text-align: left;
		}

	  .pd-1, .pd-2, .pd-3{
		      display: inline-grid !important;
    justify-items: left !important;
	  }

	  	img {
	    width: 100%;
	    height: 200px;
	    object-fit: cover;
		border-radius: 16px;
		}
	  	video {
    width: 100vw;
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
			aspect-ratio: 16 / 9;
	}
	  	.header-description{
	font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(14px, 1.3vw, 18px) !important;
    line-height: 1.3em;
	}

  }


















